
@font-face {
  font-family: "montserrat";
  src: url("../../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

// @font-face {
//   font-family: "noto";
//   src: url("../../fonts/NotoSansJP-VariableFont_wght.woff2") format("woff2");
// }

// @font-face {
//   font-family: "zen";
//   src: url("../../fonts/ZenOldMincho-Regular.woff2") format("woff2");
// }